annotated-types
anyio
asgiref
blinker
certifi
charset-normalizer
click
colorama
Django
django-cors-headers
django-formtools
django-otp
django-phonenumber-field
django-sslserver
django-two-factor-auth
djangorestframework
fastapi
filelock
Flask
fsspec
huggingface-hub
idna
itsdangerous
Jinja2
joblib
MarkupSafe
mpmath
networkx
numpy
opencv-python
packaging
panda
phonenumbers
pillow
pydantic
pydantic_core
pypng
PyQRCode
PyYAML
qrcode
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
sniffio
sqlparse
starlette
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typing-inspection
typing_extensions
tzdata
urllib3
Werkzeug
gunicorn
whitenoise
